<ion-side-channels>
  <ion-pane ion-side-channel-content>
    <ion-nav-view name="main-view"></ion-nav-view>
  </ion-pane>

  <ion-side-channel>
        <ion-content>
            <ul class="list">
                <a class="item item-avatar" ng-repeat="live in lives" ui-sref="channel.live({vid:live.vid})">
                    <img src="{{live.logo}}">
                    <h2>{{live.title}}</h2>
                    <p>{{live.location}}</p>
                </a>
            </ul>
        </ion-content>
  </ion-side-channel>

</ion-side-channels>